
body {
    margin: 0;
    padding: 0;
}

.global-container {
    /* padding-top: 2%; */
}

.head-container {
    display: flex;
    background-color: beige;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 200px;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    align-items: center;
}

#logo{
    height: 200px;
}

.social-media {
    display: flex;
    flex-direction: row;
    width: 300px;
    padding-top: 1%;
    align-items:center;
    justify-content: space-between;
    
}

h5 {
    width:fit-content;
    font-family: monospace;
    background-color: #ffffff7a;
    background-size:cover;
    font-size: 60px;
    color: black;
}

p {
    font-family: monospace;
}

#insta-icon, #twitter-icon, #whatsapp-icon {
    height: 40px;
    width: 40px;
}

.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    flex-grow: 1;   
    background-color: black; 
}

.main-menu a {
    font-family: monospace;
    color: #15B3E8;
    font-size: 130%;
}

.carousel-inner {
    /* width: 100%; */
}

#carousel .carousel-inner {
    width: 100%;
}

.title-carousel {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: 
}

